#root,
body,
html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    height: 100%;
    overflow: hidden;
    margin: 0;
    background-color: #15202b;
    color: white;
    direction: rtl;
}

a {
    text-decoration: none;
}

.loader{
    margin-top: 20%;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.back-button {
    position: fixed !important;
    top: 2rem !important;
    right: 2rem !important;
    font-size: 1.25rem !important;
    font-weight: 500 !important;
}

.back-button svg {
    padding-inline-end: 0.5rem;
}

@media screen and(max-width: 1275px) {
    #root,
    body,
    html {
        font-size: 14px;
    }
}

@media screen and(max-width: 1000px) {
    #root,
    body,
    html {
        font-size: 12px;
    }
}

@media screen and(max-width: 650px) {
    #root,
    body,
    html {
        font-size: 10px;
    }
}

/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #b2b2b2;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(85, 85, 85, 0.612);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(85, 85, 85, 0.612);
}
