.product-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    padding: 1rem 2rem;
    margin: 1rem 0;
    border-radius: 12px;
    background-color: #092542;
    flex-direction: row-reverse;
    width: 40rem;
    height: 10rem;
    cursor: pointer;
}

.product-card .add-to-cart {
    font-size: 1.5rem;
    height: 50%;
}

.product-card .add-to-cart svg {
    padding-inline-start: 0.5rem;
    font-size: 1.5rem;
}

.product-card:hover {
    background-color: rgb(9, 37, 66, 0.5);
}

.product-card .product-img {
    height: 10rem;
    width: auto;
}

.product-card .product-info {
    font-size: 1.5rem;
}

.product-card .product-price {
    direction: ltr;
    text-align: start;
}

.product-card .remove-from-cart {
    font-size: 1.5rem;
    height: 50%;
}

.product-card .remove-from-cart svg {
    padding-inline-start: 0.5rem;
    font-size: 1.5rem;
}
